<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Choose the app</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <h1>Welcome to KulApps</h1>


    <p>Which app would you like to use?</p>

    <div class="logo">
        <a href="/game">
        <img class="game-img" src="/assets/game-img.png" alt="game">
        </a>
    </div>

    <div class="logo">
        <a href="/converter">
        <img class="converter-img" src="/assets/convert-img.png" alt="converter">
        </a>
    </div>

</body>
</html>