<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Choose the app</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Welcome to KulApps</h1>


    <p>Which app would you like to use?</p>

    <div class="game">
        <a href="/game"><button type="submit">Guess the secret number</button></a>
    </div>

    <div class="converter">
        <a href="/converter"><button type="submit">Converter</button></a>
    </div>

</body>
</html>